---
import BaseLayout from '../layouts/BaseLayout.astro';
const pageTitle = "DocKo's site";
---

<BaseLayout pageTitle={pageTitle}>
	<h2>Karl Oberio</h2>
	
	<p>Technical writer, haphazard coder.</p>
	<p>Contact me at <a href="mailto:yarn@docko.dev">yarn@docko.dev</a> or through my socials.</p>
	
	<h3>About me</h3>
	<p>2024-01: dabbling in</p>
	<ul>
		<li>Shogi</li>
		<li>Linux - currently on Pop!_OS</li>
	</ul>
	
	<h3>Socials</h3>
	<ul>
		<li><a href="https://linkedin.com/in/docko">LinkedIn</a></li>
		<li><a href="https://github.com/doc-ko">Github (doc-ko)</a></li>
	</ul>
</BaseLayout>