---

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Oberio.nz: WIP</title>
	</head>
	<body>
		<h1>Work-in-progress</h1>
		<p>
			Currently experimenting with Astro on this domain.
		</p>
		
		<p>
			Main website is located at: <a href="https://docko.dev">docko.dev</a>
		</p>
	</body>
</html>
