---
import LinkButton from './LinkButton.astro'
---

<style>
    .links-container {
        display: flex;
        gap: 1rem;
        margin-top: 2rem;
        justify-content: center;
    }

</style>

<footer>
    <p class="copyright">Copyright &copy; 2024 Karl Oberio</p>
    <div class="links-container">
        <LinkButton link="https://linkedin.com/in/docko" text="LinkedIn" />
        <LinkButton link="https://github.com/doc-ko" text="Github" />
        <LinkButton link="https://github.com/doc-ko/doc-ko.github.io" text="Repo" />
        <LinkButton link="https://docs.docko.dev" text="Docs" />
    </div>
</footer>