---
---

<div class="nav-links">
    <a href="/">Home</a>
    <a href="/about/">About</a>
    <a href="/blog/">Blog</a>
    <a href="/portfolio">Portfolio</a>
    <a href="/chess-family">Four Divisions</a>
    <a href="/tags/">Tags</a>
</div>